/* Footer.css */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black; /* You can change the background color as needed */
    text-align: center;
    padding: 10px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer p {
    margin: 0;
    color: #333; /* You can change the text color as needed */
  }
  